<section class="about">
  <div class="cutout">
    <h2 class="about__heading">Screenshot this for <em>20%</em> off Custom Framing*</h2>
    <p style="text-align: center;">*Hurry! Offer expires November 30, 2017</p>
  </div>
  <div class="about__text">
    <div class="about__customer"></div>
    <p>
      With a huge selection of frames; from traditional to modern,
      in all kinds of finishes; Gold, Silver, Bronze, Black, White,
      well you get the idea! Come by and let us help you make the
      perfect selection to enhance your art and fit your decor!
      All at an affordable prices!
    </p>
    <div class="about__frames"></div>
  </div>
</section>
