<section class="about">
  <h2 class="about__heading">We are all about fine quality custom framing</h2>
  <div class="about__text">
    <div class="about__customer"></div>
    <p>
      With a huge selection of frames; from traditional to modern,
      in all kinds of finishes; Gold, Silver, Bronze, Black, White,
      well you get the idea! Come by and let us help you make the
      perfect selection to enhance your art and fit your decor!
      All at an affordable prices!
    </p>
    <div class="about__frames"></div>
  </div>
</section>
