<div class="contact" itemscope itemtype="http://schema.org/LocalBusiness">
  <div class="contact__facebook">
    <a href="https://www.facebook.com/frame.and.art.shop/">
      Southside Frame and Art on Facebook
    </a>
  </div>

  <div class="contact__info">
    <h2 class="contact__heading" itemprop="name">Southside Frame and Art</h2>
    <div class="contact__address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <span itemprop="streetAddress">120 Staring Lane</span>
      <span itemprop="addressLocality">Baton Rouge</span>,
      <span itemprop="addressRegion">Louisiana</span>
      <span itemprop="postalCode">70810</span>
      &bull; Drop by Monday thur Friday 10 am to 6 pm and Saturday 10 am to 3 pm.
    </div>
    <div class="contact__telephone" itemprop="telephone">225-953-8462</div>
  </div>
</div>
