<div class="gallery">
  <figure class="artwork">
    <div class="artwork__image">
      <img src="/img/lsu.jpg" alt="Chance of Rain.........Never II by Randy Caminita">
    </div>
    <figcaption class="artwork__caption">
      <p><strong>Who&rsquo;s ready for some LSU football?</strong></p>
      <p>New from Randy Caminita, Chance of Rain.........Never II<br></p>
      <p>Paper and canvas reproductions are available, starting at $35</p>
    </figcaption>
  </figure>

  <figure class="artwork">
    <div class="artwork__image">
      <img src="/img/nola.jpg" alt="Uptown Bound by Terrance Osborne">
    </div>
    <figcaption class="artwork__caption">
      <p><strong>RC Davis; Capturing the beauty that is Louisiana</strong></p>
    </figcaption>
  </figure>
</div>

